doctype html
html(lang="en")
  head
    title Will Binns-Smith
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52485414-1', 'auto');
      ga('send', 'pageview');
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    meta(name="description", content="I'm a JavaScript-obsessed fullstack engineer loving all things mobile and all things different.")
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="stylesheet" href="index.css")
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css')
  body
    main.main
      .Panel.Panel--main
        h1.Panel-title Will Binns-Smith
        h3.Panel-subtitle.
          A JavaScript-obsessed fullstack engineer loving all things mobile
          and all things different.
        .contact
          a(href="http://twitter.com/wbinnssmith")
            img.contact-logo(src="logo-twitter.svg", alt="@wbinnssmith on Twitter")
          a(href="http://github.com/wbinnssmith")
            img.contact-logo(src="logo-github.svg", alt="@wbinnssmith on GitHub")
          a(href="http://facebook.com/wbinnssmith")
            img.contact-logo(src="logo-facebook.svg", alt="wbinnssmith on Facebook")
          a(href="http://linkedin.com/in/wbinnssmith")
            img.contact-logo(src="logo-linkedin.svg", alt="wbinnssmith on LinkedIn")
          a(href="https://medium.com/@wbinnssmith")
            img.contact-logo(src="logo-medium.svg", alt="@wbinnssmith on Medium")
        img.profile-img(src="profile.jpg", alt="Will Binns-Smith's Photo")
        div.pgp
          a.link-white(href='https://keybase.io/wbinnssmith')
            pre.fingerprint
              E618 89CA 1B44 2B7B C906 A386 4CCA 64BD 52BF CD1C

      h2.Panel-title I'm all about small modules and big ideas. <br /> Here's the latest from me.
      ul.recent-posts
        li
          a(href="https://developer.atlassian.com/blog/2015/11/what-the-web-platform-can-learn-from-nodejs/").
            What the web platform can learn from Node.js
        li
          a(href="https://developer.atlassian.com/blog/2015/11/what-your-frontend-app-can-learn-from-nodejs/").
            What your frontend app can learn from Node.js
        li
          a(href="http://www.slideshare.net/wbinnssmith/what-the-web-platform-and-your-app-can-learn-from-nodejs").
            Slides: What the web platform (and your app!) can learn from Node.js
        li
          a(href="https://medium.com/@wbinnssmith/why-version-control-isnt-package-management-a-brief-history-5d40c524ba3e#.2mzcgjkoy").
            Why Version Control isn't Package Management: A brief history

      h2.Panel-title And here's some stuff I've built.

      .Panel
        h2.Panel-title.u-texthidden.padded
          | Bitbucket
          img.bitbucket-logo(src="bitbucket-logo-blue.svg", alt="Bitbucket logo")
        .Panel-body.v-half
          p.
            At Atlassian I developed a single-page Backbone Marionette frontend to Bitbucket's git-backed Snippets and the API endpoints in django to integrate with our git backends.
          p.
            I enabled Atlassian's cross-product component library, AUI, to export ES Modules and worked regularly with our Design Platform team in Sydney to publish it to npm as a single package with many individual modules. This work enabled all Atlassian products and the large ecosystem of add-on developers to ship only the components necessary for their apps.
          p.
            I co-authored Bitbucket's frontend implementation of Atlassian Connect, a plugin architecture for our cloud products which uses the `postMessage` API to securely communicate between Bitbucket and embedded plugin frames.
        img.img-block(src="snippets.jpg")

      .Panel
        h2.Panel-title.u-texthidden.padded
          | Bonobos
          img.logo(src="logo-bonobos.svg", alt="Bonobos logo")
        .Panel-body.v-half
          p.
            I developed much of the frontend shopping cart functionality on <a
              href="http://bonobos.com">Bonobos.com</a>, which eliminated a full page load from the store and raised customer conversion by a statistically significant percentage.
          p.
            I worked one-on-one with designers to bring a desktop-viewport only website to one that's completely optimized for smaller, touch-based devices.
          p.
            I began with Bonobos in our Palo Alto, California office and soon relocated to
            NYC to build our technology team from 2 engineers to a team of 20+. I'm
            incredibly proud of the technology team we've built in our NYC headquarters.
        img.img-block(src="bonobos-cart.jpg", alt="Bonobos.com's side cart functionality")

      .Panel.v-half
        h2.Panel-title.u-texthidden.padded
          | AYR
          img.logo(src="logo-ayr.svg", alt="AYR logo")
        p.Panel-body.
          I developed all of the frontend infrastructure and automation in node for Bonobos's
          next-generation platform, beginning with <a
            href="http://ayr.com" target="blank">AYR</a>, which is a 100% JavaScript frontend client to our core ecommerce services. I live and breathe JavaScript, obsessing over nuances in experiences of customers and business users.
        img.img-block(src="ayr-home.jpg", alt="AYR Homepage")

      .Panel
        h2.Panel-title Technologies I Love
        .tech-logos
          img.tech-logo(src="logo-js.svg", alt="JS logo")
          img.tech-logo(src="logo-node.svg", alt="NodeJS logo")
          img.tech-logo(src="logo-npm.svg", alt="npm logo")
          img.tech-logo(src="logo-webcomponents.svg", alt="Web Components logo")

    footer.footer
      ul
        li.
          <a href="http://ohdoylerules.com/personal-project/npm-logo-svg">npm
          logo</a> is a trademark of npm, Inc.
        li.
          <a href="http://webcomponents.org/">Web components logo</a> from the
          webcomponents.org contributors.
        li.
          <a href="http://nodejs.org/logos/">Node.js</a> is a trademark of
          Joyent, Inc.

  script(src="bundle.js")

