* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  line-height: 24px;
}
body {
  margin: 0;
  background-color: #f9f9f9;
  color: #444;
  font-family: 'Open Sans', sans-serif;
}
.padded,
.pgp,
.Panel-title,
.Panel-body,
.Panel-subtitle {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.v-spaced,
.Panel-title,
.Panel-body,
.Panel {
  margin-bottom: 4.5rem;
}
.u-texthidden {
  font-size: 0 !important;
}
.constrained,
.Panel-body,
.tech-logos {
  max-width: 800px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: #5677fc;
  text-decoration: none;
}
a:hover,
a:visited {
  color: #2a36b1;
}
pre,
code,
tt {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.contact {
  text-align: center;
  margin-bottom: 2rem;
}
.pgp {
  text-align: center;
  font-size: 1rem;
}
.fingerprint {
  white-space: pre-wrap;
}
a.link-white {
  color: #fff;
}
a.link-white:hover,
a.link-white:active {
  color: rgba(255,255,255,0.8);
}
a.link-white:active {
  color: rgba(255,255,255,0.6);
}
.contact-logo {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
.contact-logo g,
.contact-logo path {
  fill: #212121;
  stroke: #212121;
}
a:hover .contact-logo g,
a:hover .contact-logo path {
  fill: #fff;
  stroke: #fff;
}
.logo {
  max-width: 100%;
  height: 60px;
}
.img-block {
  display: block;
  width: 100%;
}
.Panel-title {
  font-size: 32px;
  text-align: center;
  line-height: 1.5;
}
@media (max-width: 600px) {
  .Panel-title {
    font-size: 24px;
  }
}
.Panel-subtitle {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 2.5rem;
}
.Panel {
  min-height: 20rem;
}
@media (max-width: 600px) {
  .Panel {
    min-height: 15rem;
  }
}
.Panel--main {
  position: relative;
  color: #fff;
  background-color: #4285f4;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (max-width: 600px) {
  .Panel--main {
    padding-top: 3.5rem;
  }
}
.Panel--main .Panel-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 600px) {
  .Panel--main .Panel-title {
    font-size: 34px;
  }
}
.profile-img {
  position: absolute;
  bottom: -30%;
  left: 20px;
  width: 256px;
  box-shadow: 1px 1px 5px #999;
  border-radius: 50%;
  transition: left 400ms, bottom 400ms, width 400ms;
}
@media (max-width: 1150px) {
  .profile-img {
    bottom: -10%;
    width: 128px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.tech-logos {
  display: flex;
}
.tech-logo {
  flex: 1;
  filter: grayscale(100%);
  height: 70px;
  margin: 20px;
}
.tech-logo:hover {
  filter: none;
}
ul {
  list-style: none;
}
.footer {
  font-size: 10px;
  padding: 1rem;
}
